<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ShopAbumatech</title>
        <link rel="stylesheet" type="text/css" href="css/ShopAbumatech.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
                crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Cabin|Ubuntu" rel="stylesheet">
</head>
<body>
  <!-- Start of Nav-->
  <header>
  <div class="navbar-fixed-top">
    <div class="info hidden-xs ">

      <div class="container" style="padding:0;">
          <div class="row  hidden-xs">
              <div class="col-md-6 col-sm-6 col-xs-6 text" style="padding-top: 27px;">

                  <div class="input-group">
                    <input type="email" class="form-control" id="search" placeholder="Search for anything you want">
                     <div class="input-group-addon purple"><i class="fa fa-search"></i></div>
                  </div>

                </div>

              <div class="col-md-6 col-sm-6 col-xs-6">
                  <div class="check-list">
                    <button type="button" class="btn btn-none" name="button">BECOME A VENDOR</button>
                    <button type="button" class="btn btn-none" name="button">SIGN UP</button>
                    <button type="button" class="btn btn-none" name="button">LOG IN</button>
                    <button type="button" class="btn btn-none" name="button">MY CART</button>
                    <a href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="images/face.jpg" style="height: 40px; border-radius: 100%; padding-right: 10px;" class="img-responsive img-fluid" alt="profile"></a>
                    <ul class="dropdown-menu pull-right text-center">
                      <li><a href="AccountInfo.html"><i class="far fa-user">&nbsp;&nbsp;</i> Profile</a></li>
                      <li><a href="order(empty).html"><img src="images/shopping bag.png" alt="bag">&nbsp;&nbsp;&nbsp;&nbsp;Orders</a></li>
                      <li><a href="#"><img src="images/wallet-outline.png" alt="wallet">&nbsp;&nbsp;&nbsp;&nbsp;Wallet</a></li>
                      <li><a href="saved items(empty).html"><i class="fa fa-heart">&nbsp;&nbsp;&nbsp;</i> Saved Items</a></li>
                      <li><a href="index.html"><i class="fas fa-sign-out-alt">&nbsp;&nbsp;&nbsp;</i>Logout</a></li>
                    </ul>
                    <a href="#"><i class="fa fa-shopping-bag" style="margin-top: 5px; font-size: 20px;"></i></a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  <div id="desktop-nav" style="background-color: #fff; -webkit-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.75);">
      <div class="container">


        <nav class="navbar-nav" style="width: 100%">

          <a class="navbar-brand svglogo hidden-xs" href="#">
            <img src="images/passward logo normal.svg" alt="logo" class="img-fluid img-responsive logo">
          </a>

          <button type="button" class="navbar-toggle collapsed hide-sm"  data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" ><i class="fa fa-bars"></i></button>


          <div class="collapse navbar-collapse" id="collapsibleNavbar">
             <ul class="nav navbar-nav navbar-right" style="display: flex;">
                 <a class="nav-item dropdown-toggle" id="dropdownMenu1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" style="padding-top: 15px; font-size: 12px;">CATEGORIES</a>
              <ul class="dropdown-menu categories row" aria-labelledby="dropdownMenu1">
                <div class="col-md-12 drop">
                  <h3 class="text-center" style="color: #fff;">All Shopping Categories</h3>
                  <hr style="width: 10%;">
                  <div class="col-md-4 categories-margin-top">
                      <li><a href="#"><h1>Women's Clothing</h1></a></li>
                      <li><a href="#"><h1>Men's Clothing</h1></a></li>
                      <li><a href="#"><h1>Beauty and Hair</h1></a></li>
                      <!-- <li role="separator" class="divider"></li> -->
                      <li><a href="#"><h1>Jewelry</h1></a></li>
                      <li><a href="#"><h1>Baby and Kids</h1></a></li>
                    </div>
                    <div class="col-md-4 categories-margin-top">
                      <li><a href="#"><h1>Groceries</h1></a></li>
                      <li><a href="#"><h1>Home Appliances</h1></a></li>
                      <li><a href="#"><h1>Kitchen</h1></a></li>
                      <li><a href="#"><h1>Electronics</h1></a></li>
                      <li><a href="#"><h1>Phones and Computers</h1></a></li>
                    </div>
                    <div class="col-md-4 categories-margin-top">
                      <li><a href="#"><h1>Sport Gear</h1></a></li>
                      <li><a href="#"><h1>Security</h1></a></li>
                      <li><a href="#"><h1>Automobiles</h1></a></li>
                    </div>
                    <div class="row categories-margin-top">
                      <div class="col-md-4 col-md-offset-4">
                        <div class="input-group">
                          <input type="email" class="form-control" id="dropdown-search" placeholder="Search for anything you want" style="background-color: transparent;">
                           <div class="input-group-addon purple"><i class="fa fa-search"></i></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="col-md-6" style="padding-top: 7px;">
                          <span class="simply">OR SIMPLY</span>
                      </div>
                      <div class="col-md-6">
                        <button  type="button" class="explore">EXPLORE &nbsp;<img src="images/Union 2 view all arrow.svg" style="height: 9px;" alt="explore button"></button>
                      </div>
                      </div>
                    </div>
                </div>
              </ul>

               <ul class="other-menu nav navbar-nav navbar-right">
                 <li class="nav-link top"><a class="nav-item" href="about.html">ABOUT</a></li>
                 <li class="nav-link top"><a class="nav-item" href="new stock.html">NEW STOCK</a></li>
                 <li class="nav-link top"><a class="nav-item" href="#">STORIES</a></li>
                 <li class="nav-link top"><a class="nav-item" href="TopSelling.html">TOP SELLING</a></li>
               </ul>
               <ul class="nav navbar-nav">
                 <li class="nav-link top"><a href="#"><i class="fa fa-bars fa-2x" id="tog-btn" style="font-size: 21px;"></i> </a></li>
               </ul>

            </ul>
          </div>

      </nav>
    </div>
  </div>

        <div id="navbar-large" style="background-color: #fff; -webkit-box-shadow: 0px 4px 10px -2px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 4px 10px -1px rgba(0,0,0,0.75);
          box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.75);">
          <a href="#" style="align-self: center; padding-right: 20px;">
            <i class="fa fa-shopping-bag" style=" font-size: 20px;"></i>
          </a>

          <a class="navbar-brand svglogo" href="#" >
            <img src="images/passward logo normal.svg" alt="logo" class="img-fluid img-responsive logo">
          </a>


            <button type="button" onclick="openNav()" data-target="#mySidenav" name="button" class="btn btn-none" ><i class="fa fa-bars fa-2x"></i> </button>

          <div class=" sidenav" id="mySidenav">
             <ul class="navbar-nav list-inline straight">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <li class=" top"><a href="#">CATEGORIES</a></li>
              <li class=" top"><a href="#">NEW STOCK</a></li>
              <li class=" top"><a href="#">TOP SELLING</a></li>
              <li class=" top"><a href="#">STORIES</a></li>
              <li class=" top"><a href="#">ABOUT</a></li>
            </ul>
          </div>
        </div>
  </div>
  </header>
  <!-- end of Nav -->



<div class="container">
    <div class="row">
      <a href="index.html" style="text-decoration:none; color: #d1d2d3;">
              <p class="home">Home / <span class="top">Stores / </span> <span class="storename"> Abumatech Nigeria LTD</span>
      </a> <a href="PhonesComputers.html">  </a>
    </div>
</div>
<div class="container-fluid">
<div id="grad1">
  <div class="row rowstore">
    <div class="col-md-6 col-sm-12 col-xs-12 rectangle">
      <p class="abumatech">Abumatech Nigeria LTD.</p>
      <img src="images/Abumatech-long@2x.jpg" alt="image" class="img-responsive img-fluid" style="position:absolute; height: 170px; margin-top: 30px; margin-left: 50px;">
    </div>
    <div class="col-md-6  col-sm-12 col-xs-12 rectangle1">
        <p class="abumatechlocation"> <i class="fas fa-paper-plane" style="color:white; margin-right: 15px;"></i>1042B, Gwarimkpa Estate, Abuja, Nigeria</p>
        <hr style="border-color:#575757; margin-left: 20px; margin-right: 8px; margin-top: 10px;">
        <p class="text">Our affordability, fast and reliable delivery, and the fact that you will always be able to find the phone that you are looking for in our offer, have made us stand out in the market.</p>
        <hr style="border-color:#575757; margin-left: 20px;margin-right: 8px; margin-top: 12px;">
        <p class="text2"> Opening Hours <span class="text3"> Selling </span></p>
        <p class="text4">8am - 6pm, Monday to Saturday <span class="text5">Phones, Tablets, Laptops, laptop accessories</span></p>
        <hr style="border-color:#575757; margin-left: 20px; margin-right: 8px; margin-top: 10px;">
        <p class="text6"> Phone Numbers</p>
        <p class="text7"> 09039278182, 08023777668 <span class="text8"> <i class="fas fa-star" style="color:white;  padding-left:170px;"></i><i class="fas fa-star" style="color:white; padding-left:8px;"></i><i class="far fa-star" style="color:white;  padding-left:8px;"></i> (Reviews from 400 users)</span></p>

        <button class="productbutton"> Products <span><button class="reviewbutton"> Reviews</button></span></button>
      </div>

    </div>

</div>
</div>

<div class="col-md-9 col-sm-12 col-xs-12">
  <div class="row">

      <div class="col-md-3 col-xs-12 col-sm-12">

      </div>
      <div class="col-md-3 col-xs-6 col-sm-6">
        <p class="pages"> 1-20 <span class="page-ext"> of 2,334 results</span></p>
          </div>
          <div class="col-md-3 col-xs-6 col-sm-6">
            <button class="sortbutton"><p class="sort"> Showing for: <span class="lowprice">Phones</span> <span style="margin-left:12px;"><i class="fas fa-angle-down"></i></span> </p></button>

              </div>
              <div class="col-md-3 col-xs-12 col-sm-12">
                  <button class="sortbutton"><p class="sort"> Sort By: <span class="lowprice">New Items<span> <span style="margin-left:12px;"><i class="fas fa-angle-down"></i></span> </p></button>

              </div>
</div>
</div>
<div class="col-md-3"></div>

<!-- content for ABumatech Shop -->
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-9 col-md-offset-3">

<div class="row" style="margin-top:35px;">
        <div class=" col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/phone 5.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;4,000</p>
                              <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                        </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/Product-cat-Jeez-3.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;9,000</p>
                              <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/phoone 2.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;5,000</p>
                            <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/phone 4.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;80,000</p>
                              <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i></span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
</div>
<div class="row" style="margin-top:35px;">
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/phone 6.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;4,000</p>
                              <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/Sony MDR-XB950BT EXTRA BASS.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;9,000</p>
                            <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/download.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;5,000</p>
                            <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/pjone 1.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;80,000</p>
                              <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
  </div>
  </div>
</div>
</div>

<!-- clearance sales -->
<div class="gray">
<div class="container">
    <div class="row" style="padding-top: 40px; margin: auto; ">
        <div class="col-xs-6 col-md-2">
          <div class="img-block">
            <a href="#"> <img src="images/clock.png" alt="clock" class="img-responsive img-fluid" style="height:160px"></a>
            <div class="edit">
              <a style="display: flex; justify-content: flex-end;" href="#"><img src="images/fav appearance selected.svg" style="height: 25px;" alt=""></a>
            </div>
          </div>
            <div class="content">
                <p class="items"> Vintage Desk Clock</p>
                <p class="price">&#8358;10,000 <span class="newprice">&#8358;11,000</span></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
          <div class="img-block">
            <a href="#"> <img src="images/mockup-df8f5437_1024x1024.jpg" alt="mockup" class="img-responsive img-fluid" style="height:160px"></a>
            <div class="edit">
              <a style="display: flex; justify-content: flex-end;" href="#"><img src="images/fav appearance selected.svg" style="height: 25px;" alt=""></a>
            </div>
          </div>
            <div class="content">
                <p class="items"> Dual Piece Beats Headphones</p>
                <p class="price">&#8358;10,000<span class="newprice">&#8358;11,000</span></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
          <div class="img-block">
            <a href="#"> <img src="images/download.jpg" alt="download" class="img-responsive img-fluid" style="height:160px"></a>
            <div class="edit">
              <a href="#"><img src="images/fav appearance selected.svg" style="height: 25px;" alt=""></a>
            </div>

          </div>
            <div class="content">
                <p class="items"> Samsung Galaxy S9</p>
                <p class="price">&#8358;70,000<span class="newprice">&#8358;11,000</span></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
          <div class="img-block">
            <a href="#"> <img src="images/Sony MDR-XB950BT EXTRA BASS.jpg" alt="Sony" class="img-responsive img-fluid"
                    style="height:160px"></a>
                    <div class="edit">
                      <a><img src="images/fav appearance selected.svg" style="height: 25px;" alt=""></a>
                    </div>
          </div>
            <div class="content">
                <p class="items"> Sony Piece Headphones</p>
                <p class="price">&#8358;11,999<span class="newprice">&#8358;11,000</span></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
          <div class="img-block">
            <a href="#"> <img src="images/phone 6.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
            <div class="edit">
              <a  href="#"><img src="images/fav appearance selected.svg" style="height: 25px;" alt=""></a>
            </div>

          </div>
            <div class="content">
                <p class="items"> Dual Piece Beats Headphones</p>
                <p class="price">&#8358;4,999<span class="newprice">&#8358;11,000</span></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-2">
          <div class="img-block">
            <a href=""> <img src="images/GameSir-G4s-2-4Ghz-Wireless-Bluetooth-Gamepad-Controller-for-PS3-Android-TV-BOX-Smartphone-Tablet-PC.jpg"
                    alt="game" class="img-responsive img-fluid" style="height:160px"></a>
                    <div class="edit">
                      <a href="#"><img src="images/fav appearance selected.svg" style="height: 25px;" alt=""></a>
                    </div>
          </div>

            <div class="content">
                <p class="items"> Mobile Game Pad Console</p>
                <p class="price">&#8358;34,999 <span class="newprice">&#8358;11,000</span></p>
            </div>
        </div>


    </div>
  </div>
</div>
<!-- end of clearance sales -->
<div class="container">
<div class="row">
<div class="col-xs-12 col-md-9 col-md-offset-3">
    <div class="row" style="margin-top:35px;">
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/phone 5.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;4,000</p>
                            <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/Product-cat-Jeez-3.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;9,000</p>
                            <span style="margin-left:20px;"><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/phoone 2.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;5,000</p>
                            <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/phone 4.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;80,000</p>
                            <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
</div>
<div class="row" style="margin-top:35px;">
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/phone 6.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;4,000</p>
                              <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/Sony MDR-XB950BT EXTRA BASS.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;9,000</p>
                              <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/download.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;5,000</p>
                              <span style="margin-left:20px;"><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
        <div class="col-xs-6 col-md-3">
                <div class="img-block">
                        <a href="#"> <img src="images/pjone 1.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                      </div>
                        <div class="content">
                          <div class="amount">
                            <p class="price">&#8358;80,000</p>
                              <span style="margin-left:20px;"><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                          </div>
                            <p class="shop"> Gionee Shop</p>
                            <p class="street">Nwaniba Rd. Uyo</p>
                        </div>
        </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
                  <div class="img-block">
                    <a href="#"> <img src="images/phone 6.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                  </div>
                    <div class="content">
                      <div class="amount">
                        <p class="price">&#8358;10,000</p>
                        <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                      </div>
                        <p class="shop"> Gionee Shop</p>
                        <p class="street">Nwaniba Rd. Uyo</p>
                    </div>
    </div>
    <div class="col-xs-6 col-md-3">
                  <div class="img-block">
                    <a href="#"> <img src="images/phone 3.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                  </div>
                    <div class="content">
                      <div class="amount">
                        <p class="price">&#8358;9,999</p>
                          <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                      </div>
                        <p class="shop"> Gionee Shop</p>
                        <p class="street">Nwaniba Rd. Uyo</p>
                    </div>
    </div>
    <div class="col-xs-6 col-md-3">
                  <div class="img-block">
                    <a href="#"> <img src="images/pjone 1.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                  </div>
                    <div class="content">
                      <div class="amount">
                        <p class="price">&#8358;90,000</p>
                          <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                      </div>
                        <p class="shop"> Gionee Shop</p>
                        <p class="street">Nwaniba Rd. Uyo</p>
                    </div>
    </div>
    <div class="col-xs-6 col-md-3">
                  <div class="img-block">
                    <a href="#"> <img src="images/phoone 2.jpg" alt="phone" class="img-responsive img-fluid" style="height:160px"></a>
                  </div>
                    <div class="content">
                      <div class="amount">
                        <p class="price">&#8358;10,000</p>
                          <span><i class="fas fa-star star" style="margin-left:4px;"></i><i class="fas fa-star star" style="margin-left:4px;"></i><i class="far fa-star star" style="margin-left:4px;"></i> </span>
                      </div>
                        <p class="shop"> Gionee Shop</p>
                        <p class="street">Oron Rd. Uyo</p>
                    </div>
    </div>
</div>

<div class="row" style="margin-top:35px;">
        <div class="col-xs-6 col-md-3">
                <p class="pages"> 1-20 <span class="page-ext"> of 233,456 results</span></p>
        </div>

    <div class="col-xs-12 col-md-3"> </div>

<div class="col-xs-12 col-md-3"> </div>

<div class="col-xs-6 col-md-3" style="margin-top:35px;">
    <a href="#" style="text-decoration:none;"> <p> <i class="fas fa-angle-left" style="margin-right: 15px;"></i> PREV <span class="next"> NEXT</span> <i class="fas fa-angle-right" style="margin-left:15px;"></i></p> </a>
</div>

</div>
</div>
</div>
</div>


<!-- Start of Footer -->
<footer>
<div class="row merchant" style="margin:0px; margin-top: 100px;">
    <div class="container">
            <div class="col-md-4 col-sm-12 col-xs-12 col-md-push-8">
                    <div class="video">
                        <iframe width="310" height="200" src="https://www.youtube.com/embed/kHLHSlExFis" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture, fullscreen"
                            ></iframe>
                    </div>

                    <div style="position:relative; top:200px;">
                        <p id="inspire">Inspired ?</p>
                        <p id="share"><a href="#"> WATCH AND SHARE THESE STORIES</a></p>
                    </div>
                </div>
        <div class="col-md-3 col-sm-12 col-xs-12 col-md-pull-4 part1" style="margin-top:40px; justify-content: center;">
            <p class="become a">
                Become a <span class="becoming a">Merchant</span>
            </p>
            <p class="abc">
                Easy as A, B, C _
            </p>
            <p class="lorem i">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla vel fuga aspernatur harum
                earum amet praesentium ipsam.</p>
            <a href="#">
                <p class="find">FIND OUT MORE</p>
            </a>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 col-md-pull-4 part2" style="justify-content:center;">
            <p class="become">
                Find the perfect Merchant <span class="becoming">For your Business</span>
            </p>
            <p class="abc">
                Easy as A, B, C _
            </p>
            <p class="lorem">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla vel fuga aspernatur harum
                earum amet praesentium perspiciatis inventore ipsam. Ipsum iusto in cupiditate architecto rem
                corporis iure quibusdam hic.
            </p>
            <a href="#">
                <p class="find">FIND OUT MORE</p>
            </a>
        </div>

    </div>
</div>
<div class="row rated" style="margin:0px; top:-30px">
    <div class="container accessory">
        <div class="col-md-3 col-sm-12 col-xs-12">
              <p class="category">RATED CATEGORIES</p>
               <div class="list">
               <ul><a href="#">Women Clothing </a></ul>
               <ul><a href="#">Jewellery </a></ul>
               <ul><a href="#">Automobile </a></ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
                <p class="category">TOP SEARCHES</p>
                <div class="list">
                <ul><a href="#">Bags </a></ul>
                <ul><a href="#">Gucci </a></ul>
                <ul><a href="#">Palm slippers </a></ul>
                <ul><a href="#">Gas cooker </a></ul>
                <ul><a href="#">Olive cleanser </a></ul>
                <ul><a href="#">Banana oat </a></ul>
                <ul><a href="#">Brown sugar </a></ul>
            </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
<p class="categorya">REGISTERED MERCHANTS</p>
<p class="platform">Merchants on pasward platform are registered and trained. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus iure cumque odio laborum mollitia inventore quod nostrum magni, tempora cupiditate nisi consectetur! Quasi, repudiandae dolor minus non sit sed dignissimos!
</p>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <p class="categorya">VENDORS</p>
                    <p class="platform">Each vendor is registered under a selected merchant. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum minima nisi vitae id suscipit odit delectus, voluptate repellendus fuga earum velit nihil iusto et commodi, quos blanditiis facilis voluptas culpa?</p>
                    </div>
</div>
<div class="line"><hr>
<div class=" container list" style="margin-top:20px;">
    <div class="col-md-3 col-sm-12 col-xs-12">
<ul><a href="#">Help </a></ul>
<ul><a href="#">Privacy Policy </a></ul>
<ul><a href="#">Frequently Asked Questions
     </a></ul>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<ul><a href="#">Newsletter </a></ul>
<ul><a href="#">Email Address </a></ul>
     <div class="line1">
      <input type="text">
     </div>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<button id="subscribebutton">SUBSCRIBE</button>
</div>
</div>

</div>
<div class="line"><hr></div>
<div class="container">
<div class="col-md-3 col-sm-12 col-xs-12">
<p class="copyright">
Copyright 2018
</p>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
<img src="images/passward logo white.svg" alt="logo" class="img-responsive img-fluid pasward">
</div>
<div class="col-md-3 col-sm-12 col-xs-12">

</div>
<div class="col-md-3 col-sm-12 col-xs-12" style="display: flex; justify-content: flex-end;">
<a href="about.html">
 <span class="circle">
   <i class="fas fa-caret-up up"></i>
 </span>
</a>

</div>
</div>

</div>
</footer>
<!-- End of Footer -->

<!-- Start of script-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
function openNav() {
document.getElementById("mySidenav").style.width = "200px";
document.getElementById("mySidenav").style.paddingLeft = "50px";
document.getElementById("mySidenav").style.backgroundColor = "#F9D8D5";
document.body.style.backgroundColor = "rgba(0,0,0,0.1)";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
function closeNav() {
document.getElementById("mySidenav").style.width = "0";
document.getElementById("mySidenav").style.paddingLeft = "0";
document.body.style.backgroundColor = "white";
}
</script>

<script type="text/javascript">
$(function(){
    $("#tog-btn").click(function(){
      console.log("hello world");
      $(".other-menu").toggle();
    });
});
</script>
<!-- end of Script-->


  </body>
</html>
