.home{
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    color: gray;
    margin-top: 10px;
    margin-left: 20px;

}
.cart{
   font-size: 12px;
   font-family: 'Cabin', sans-serif;
   color: #000;
   margin-top: 10px;
}
.carting{
    font-size: 34px;
    color: #000033;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-align: center;
}
.phone{
    border:1px 1px 1px 1px solid grey;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: #000033;
    left: 20px;
}
.sold{
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    color: #BFBFBF;
}
.heart{
    font-size: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #FF3C89;
    font-style: italic;
}
.quantity{
     padding-right: 250px;
     
}
.unitprice{
 padding-right: 250px;
}
.table-head{
    border-top: none;
    border-bottom: 1px solid #BFBFBF;
    border-left:none;
    border-right: none; 
    background-color:#F8F8F8;
}
a:hover{
    text-decoration: none!important;
    color: #FF3C89 !important;
}
.heart a{
    color:#FF3C89 ;
}

.span-round{
    border-radius: 25px;
    padding: 5px;
    background-color:#F8F8F8;
    
}
.price{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #000033;
    font-weight: bold;
}
.summarytable{
    margin-top: 60px;
    border-top: none;
    border-bottom: 1px solid #BFBFBF;
    border-left:none;
    border-right: none; 
    background-color:#F8F8F8;
}
.total{
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    color:#BFBFBF;
}
.items{
    color: #BFBFBF;
    font-size: 8px;
    font-family: 'Cabin', sans-serif;
}
.tally{
    color: #000033;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
}
.tallytext{
    color: #969696;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
}
.card-edit{
    background:#f5f5f5;
    border-radius:3px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(133,133,131,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(133,133,131,1);
    box-shadow: 1px 1px 1px 0px rgba(133,133,131,1);
    height: 60%;
}
#proceedbutton{
    background-color: #FF0066;
    border-color: transparent;
    width: 200px;
    display: inline-block;
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    border-radius: 15px;
    color:white;
    height: 30px;
    text-align: center;
}
.or{
    color: #BFBFBF;
    font-size: 18px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}
#continuebutton{
    background-color: white;
    border-color: #FF0066;
    width: 200px;
    display: inline-block;
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    border-radius: 15px;
    color:#FF0066;
    height: 30px;
    text-align: center;
}
    
    